body {
  padding: 8px;
  padding-top: 36px;
}

.search-input {
  background: none!important;
  border: none;
  outline: none;
  margin-left: 12px;
  width: 100vw;
  max-width: 800px;
  font-size: 16px;
}

.search-div {
  background-color: #F2F4F8;
  border-radius: 12px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.card-layout {
  width: 100%;
  max-width: 930px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.card {
  width: 300px;
  overflow-x: hidden;
  margin-top: 32px;
}

.card img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;

}

.card h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: 'Apercu Pro Bold', sans-serif;
  line-height: 32px;
}

h1 {
  width: 100%;
  max-width: 860px;
  margin: 50px auto;
  font-family: 'Apercu Pro Bold', sans-serif;
  color: #999faa;
  text-align: center;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #999faa;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg,rgb(220,220,220),rgb(150,150,150));
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.loader::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  background: white;
  border-radius: 50%;
}

.card p {
  font-size: 14px;
  color: #999faa;
}

.page-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  margin: 36px auto;
}

.page-container li {
  cursor: pointer;
  padding: 8px;
}

.page-container li.active {
  background-color: #EB518F33;
  border-bottom: 5px solid #EB518F;
  color: black;
}

.disabled {
  pointer-events: none;
  cursor: none;
  color: #999faa;
}